<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Real Estate</h1>
    <form method="POST" action="/dbData">
        <input type="submit" value="See stored data">
    </form>
    <form method="POST" action="/clearData">
        <input type="submit" value="Clear stored data">
    </form>
    <br>
    <form method="POST" action="/fetchURL">
        {{ form.url.label }} {{ form.url(size=20) }}
        <input type="submit" value="Fetch new data">
    </form>

</body>
</html>